@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  .wrapper {
    display: flex;
    color: #fff;
    font-size: 26px;
    display: flex;
    align-items: start;
    flex-direction: column;
    font-weight: 700;
    // backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 20px;

    // @media (max-width: 690px) {
    //   font-size: 20px;
    // }

    // @media (max-width: 450px) {
    //   font-size: 16px;
    //   padding: 10px 10px;
    // }

    // &.two {
    //   @media (max-width: 810px) {
    //     width: 380px;
    //     row-gap: 15px;
    //   }
    //   @media (max-width: 810px) {
    //     width: 380px;
    //     row-gap: 15px;
    //   }
    //   @media (max-width: 680px) {
    //     width: 315px;
    //     row-gap: 15px;
    //   }
    //   @media (max-width: 450px) {
    //     width: 270px;
    //     row-gap: 15px;
    //   }
    // }

   

    .year {
      color: #ababab;
      font-weight: 400;
      margin-left: 7px;
      font-size: 18px;
    }

    .name {
      color: #ababab;
      font-weight: 400;
    }

    .rating {
      display: flex;
      gap: 10px;

      .max {
        font-size: 18px;
        color: #ababab;
      }
    }
    
    .count {
      //background-color: $color-green;
      //padding: 5px 10px;
      color: $color-text-green;
      font-weight: 400;
      text-align: center;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      //margin: 0 10px;
      min-width: 50px;
      //width: 50px;
    }
  }
}

.wrapper-rating {
  display: flex;
  align-items: center;
  gap: 3px;
}